.searchForm {
  margin-bottom: 20px;
}

.searchBox {
  margin-bottom: 10px;
}

.queryResult {
  position: absolute !important;
  top: 100%;
  left: 0;
  color: black;
  transform-origin: center top;
  white-space: normal;
  text-align: left;
  text-transform: none;
  background: #fff;
  margin-top: .2em !important;
  width: 100%;
  z-index: 1000;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.35) !important;
}